<h4 class="new-comment">New Comment</h4>
<%= form_for([@post, @post.comments.build]) do |f|%>
  <p>
    <%= f.text_field :author, placeholder: "Name" %>
  </p>
  <p>
    <%= f.text_field :website, placeholder: "Website URL" %>
  </p>
  <p>
    <%= f.text_area :content, placeholder: "Comment"%>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>