<section class="post-page">
<div class="control">
	<%= link_to "Edit ", edit_post_path(@post) %> | <%= link_to " Delete", @post, method: :delete, data: {confirm: "Are you sure"} %>
</div>
<h1 class="post-title"><%= @post.title %></h1>	
<div class="post-meta">
	<%= @post.created_at %>
<% if @post.created_at != @post.updated_at %>
  | Updated <%= time_ago_in_words(@post.updated_at) %> ago
<% end %> 
</div>
<div class="clear"></div>
<article class="post-body"><%= @post.body %></article>
<h3 class="comment-head"><%= pluralize(@post.comments.count, "Comment")%></h3>
<section class="comments-wrapper">
	<%= render @post.comments %>
	<div class="comment-form"><%= render "comments/form" %></div>
</section>	
</section>



