<!DOCTYPE html>
<html>
<head>
  <title>RailsBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<header class="header">
  <div id="logo">
	<%= link_to root_path do %>
	  <%= image_tag('logo.png') %>
	<% end %>
  </div>
	<nav id="nav" role="navigation">
		<ul class="nav">
			<li><%= link_to "About", about_path %></li>
		</ul>
	</nav>
	<div class="control">
	  <%= link_to "New Post", new_post_path(@post) %>
	</div>
</header>
<div class="clear"></div>
<div id="c-wrapper">
	<%= yield %>
</div>
<footer id="footer">
	<div class="credit">&copy; 2016  <%= link_to "Rails Blog", root_path %><span id="dev">Olalekan Oladipupo</span><div>
</footer>
</div>
</body>
</html>
